<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gunting, Batu, Kertas</title>
    <link rel="stylesheet" href="css/style-gameplay.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <section class="header-nav">
            <div class="row">
                <div class="col-sm-4 d-flex flex-row align-items-center justify-content-evenly">
                    <a href="/"><img src="./img/_.svg" class="back-button" alt=""></a>
                    <img src="./img/logo 1.svg" class="logo">
                    <h3>ROCK PAPER SCISSORS</h3>
                </div>
                <div class="col-md-6"></div>
            </div>
        </section>
        <section class="game-play">
            <div class="row d-flex flex-row justify-content-center align-items-center">
                <div class="col-md-4 d-flex flex-column align-items-center player">
                    <h3 class="player">PLAYER 1</h3>
                    <div class="area-player d-flex flex-column align-items-center">
                        <img src="./img/batu.png" class="batu" alt="">
                        <img src="./img/kertas.png" class="kertas" alt="">
                        <img src="./img/gunting.png" class="gunting" alt="">    
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column justify-content-center align-self-center result">
                    <h1 class="vs">VS</h1>
                    <h2 id="keterangan"></h2>
                    <!-- <img src="" id = "image" class = "image" alt=""> -->
                    <img id="image" class="img justify-content-center align-self-center" style="width: 80%;">
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center comp">
                    <h3 class="player2">COM</h3>
                    <div class="area-computer d-flex flex-column align-items-center">
                        <img src="./img/batu.png" class="batu-comp" alt="" id="pilihan-Computer">
                        <img src="./img/kertas.png" class="kertas-comp" alt="" id="pilihan-Computer">
                        <img src="./img/gunting.png" class="gunting-comp" alt="" id="pilihan-Computer">    
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img src="./img/refresh.png" class="refresh" alt="">
                </div>
            </div>
        </section>
    </div>
    <script src="js/script.js"></script>
</body>
<script type="text/javascript" href="js/bootstrap.min.js" src="js/bootstrap.min.js"></script>  
</html>
